.box1{
    text-align: center;
    border-style: solid ;
    padding: 1rem;
    margin: 1rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    background-color: palevioletred;
    border-top-color:black;
    border-left-style: none;
    border-right-style:none ;
    border-bottom-style:none ;
    
}

.box2{
    text-align: left;
    border-style: solid ;
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    border-style:none ;
    border-width:5px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgray;

}
.Tab{
    border-bottom-style:solid ;
    border-color: palevioletred;
    font-size: 1.5rem;
    border-width: 5px;
    padding: 0.5rem;
    margin-right: 1rem;


}