p{
    color: red;
    font-style: italic;
}
.text-big{
    font-size: large;
}
.bg-yello{
    background-color: yellow;
}
.text-height{
    font-size: 1rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
}
.text-shadow{
    text-shadow: 10px 10px 5px black;
}