*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar .navitem {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 0.5rem;
    border-bottom-style: solid;
    border-bottom-color: red;
    padding: 0.25rem;
    margin-right: 0.25rem;
}

.banner {

    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black
}

.banner > img {
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    object-fit: cover;
    object-position: center center;
}


.banner .content {
    position: absolute;
    top: 50%;
    left: 10%;
    color: black;
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

.content a {

    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    border-style: solid;
    padding: 0.1rem 0.1rem;

}

.banner >.mask{
    background: linear-gradient(90deg,rgba(0,0, 0,75%), rgba(225, 225, 225, 75%));
    /* background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(110, 110, 110, 1) 50%); */
    opacity: 0.5;
    /* 0-1透明度 */
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}