*,
        *::before,
        *::after{
            box-sizing: border-box;
        }

        body{
            margin: 0;
            padding: 0;
        }

        .navbar{
            background-color: black;
            padding: 1rem;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
        }

        .navitem{
            color: white;
            text-decoration: none;
            margin-left: 0.5rem;
            border-bottom-style: solid;
            border-bottom-color: red;
            padding-bottom:0.5rem ;
        }
        .banner{
            background-image: url(./Gnosia.png);
            height: 100vh;
            background-size: cover;
            background-position: center center;
        }

        .banner-text{
            color: black;

            position: absolute;
            top: 50%;
            left: 50%;
            text-wrap: nowrap;
            z-index: 4;
        }

        .banner-text > h1{
            font-size: 5rem;
            text-shadow: 0px 0px 10px black;
        }

        .banner-text > p{
            font-size: 4rem;
            text-shadow: 0px 0px 10px black;
        }

        .banner-text > a{
            font-size: 3rem;
            text-shadow: 0px 0px 10px black;
            color: black;
            text-decoration: none;
            border-style: solid;
            padding: 0.5rem;
        }
        .row{
            display: flex;
            text-wrap: wrap;

        }
        .col-5{
            flex-basis: 50%;
        }